<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @device.account_id %>
</p>

<p>
  <strong>Model:</strong>
  <%= @device.model_id %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @device.phone_number %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @device.is_active %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
